.DS_Store
.vscode/
authentification.js
node_modules
notes/
**/*-todo.md
easiur_batchConversion_download/
easiur_batchConversion_upload/
archived_files/
output_results/
data/
study_validation/
archived_data/
reference_material/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
env/
ENV/

# Python distribution / packaging
build/
dist/
*.egg-info/
