.DS_Store
.vscode/
authentification.js
node_modules
notes/
**/*-todo.md
euss_data/
euss_data/resstock_amy2018_release_1.1
archived_files/
easiur_batchConversion_download/
easiur_batchConversion_upload/